{{extend 'layout.html'}}
<html>
	<title>Attachment</title>
	{{=form}}
{{if len(a)>0:}}
<h5>Attachments :</h5>
<table class="table">
{{for i in range(len(a)):}}
      <tr>
          <td >{{=a[i]['nm']}}</td>
		<td width:'50%' style="text-align:right"><button class="btn btn-inverse" onclick="document.location='{{=URL(r=request,f='attdel',args=a[i]['fil'])}}';"> Delete </button>&nbsp;&nbsp;<button class="btn btn-inverse" onclick="document.location='{{=URL(r=request,f='download',args=a[i]['fil'])}}';">Download</button></td>
      </tr>
                {{pass}}
         </table>
{{pass}}

	<button onclick="document.location='{{=URL(r=request,f='show',args=session.title)}}';">Done</button>
</html>
