{{extend 'layout.html'}}
<html>
	<title>Delete</title>
	<h3>Welcome {{=auth.user.first_name}}</h3>
{{ if len(a)>0:}}
{{x='Your Tasks are '}}
{{else:}}
{{x='You don\'t have any tasks right now'}}
{{pass}}
<hr>
	<h5>{{=x}}</h5>
	<table>
{{for  i in range(len(a)):}}
	<tr>
	<td><ul>{{=LI(A(a[i]['tit'], _href=URL('shtask',args=a[i]['tit'].strip())))}} </ul></td>
<td>	<a href="#myModal" role="button" class="btn" data-toggle="modal">Delete</a>
</td>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Confirmation</h3>
</div>
<div class="modal-body">
<h5>Are You Sure ?</h5>
<p>Data once deleted cannot be retrieved</p>
</div>
<div class="modal-footer">
	<button onclick="document.location='{{=URL(r=request,f='taskdel1',args=a[i]['tit'])}}';">Yes</button></td>
	<button onclick="document.location='{{=URL(r=request,f='taskshdel')}}';">No</button></td>
</div>
</div>
	</tr>
{{pass}}
	</table>
</html>
