{{extend 'layout.html'}}
<html>
	<title>Edit Your Notes !</title>
	<h3>Welcome {{=auth.user.first_name}}</h3>
{{a=b.split('@')}}
{{ if len(a)>1:}}
{{x='Your Notes are '}}
{{else:}}
{{x='You don\'t have any notes right now'}}
{{pass}}
<hr>
	<h5>{{=x}}</h5>
	<table>
{{for  i in range(1,len(a)):}}
	<tr>
	<td><ul>{{=LI(A(a[i], _href=URL('show',args=a[i].strip())))}} </ul></td>
	<td><button onclick="document.location='{{=URL(r=request,f='edit1',args=a[i])}}';">Edit</button></td>
	</tr>
{{pass}}
	</table>
</html>
